<div id="homeContent">
  <h1>Perfect for your business. Any way you configure it.</h1>
  <h2>To get started choose your vehicle.</h2>
  <div class="transit">
    <a href="#"><%= image_tag("transit-xlt-e.png") %></a>
    <a href="#" class="nameplate">Transit</a>
  </div>
  <div class="transit-connect">
    <a href="#"><%= image_tag("transit-connect-xlt.png") %></a>

    <a href="#" class="nameplate">Transit Connect</a>
  </div>
  <div class="featuredUpfits">
    <h3>Featured Racks & Bins <span>Upfit Base Packages</span></h3>
    <ul class="featuredPackage">
      <li><a href="#"><%= image_tag("adrian-package.png") %></a></li>

      <li><a href="#">Package Name</a></li>
      <li><a href="#"><%= image_tag("adrian-steel-logo.png") %></a></li>

    </ul>
    <ul class="featuredPackage">
      <li><a href="#"><%= image_tag("leggett-platt-package.png") %></a></li>

      <li><a href="#">Package Name</a></li>
      <li><a href="#"><%= image_tag("leggett-platt-logo.png") %></a></li>

    </ul>
    <ul class="featuredPackage">
      <li><a href="#"><%= image_tag("sortimo-package.png") %></a></li>
      <li><a href="#">Package Name</a></li>
      <li><a href="#"><%= image_tag("sortimo-logo.png") %></a></li>
    </ul>
  </div>
</div>