<div id="selectVehicleContent">
			 
    <div class="large-transit-image">
        <div class="large-image-description"><h2>2012 Transit Connect XLT</h2></div>
        <%= image_tag("transit-profile.png", :width =>983, :height => 352 ) %>
    </div>
    <div class="select-nav">
        <h2>Select Your <em>Transit Van</em></h2>
        <div class="control-panel">
            <ul>
                <li class="help"><a href="#">Help<span><%= image_tag("arrow-dropdown.png", :width=>"5", :height=>"8") %></span></a></li>
                <li class="preview"><a href="#">Preview Configuration <span><%= image_tag("arrow-dropdown.png", :width=>"5", :height=>"8") %></span></a></li>
                <li class="list"><a href="#">List <span><%= image_tag("arrow-dropdown.png", :width=>"5", :height=>"8") %></span></a></li>
                <li class="expand"><a href="#">Expand <span><%= image_tag("arrow-dropdown.png", :width=>"5", :height=>"8") %></span></a></li>
            </ul>
        </div>

        <div class="slider-container">
            <div class="left-control"><%= image_tag("arrow-left.gif", :width=>"12", :height=>"25") %></div>
	        <div class="right-control"><%= image_tag("arrow-right.gif", :width=>"12", :height=>"25") %></div>
            <ul class="slider-content">
                    <li class="transit-vehicle"><a href="#"><%= image_tag("transit-jelly.png") %> <span class="vehicle-names">Transit Connect XL Van</span> <span class="description-text">Text Here : Text Here Text Here : Text Here</span></a></li>
                    <li class="transit-vehicle"><a href="#"><%= image_tag("transit-jelly.png") %> <span class="vehicle-names">Transit Connect XL Van</span> <span class="description-text">Text Here : Text Here Text Here : Text Here</span></a></li>
                    <li class="transit-vehicle"><a href="#"><%= image_tag("transit-jelly.png") %> <span class="vehicle-names">Transit Connect XL Van</span> <span class="description-text">Text Here : Text Here Text Here : Text Here</span></a></li>
                    <li class="transit-vehicle"><a href="#"><%= image_tag("transit-jelly.png") %> <span class="vehicle-names">Transit Connect XL Van</span> <span class="description-text">Text Here : Text Here Text Here : Text Here</span></a></li>
                    <li class="transit-vehicle"><a href="#"><%= image_tag("transit-jelly.png") %> <span class="vehicle-names">Transit Connect XL Van</span> <span class="description-text">Text Here : Text Here Text Here : Text Here</span></a></li>
            </ul>
    </div>
    </div>
</div>